.home{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: fit-content; 
    
}


.carouselExampleIndicators{
    grid-area: content;
}

.carousel-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

.title_noticias{
    display: flex;
    font-size: 34px;
    font-weight: 900;
    height: fit-content;
    border-bottom: 4px solid var(--primary-color);
}
