.container_all_junte-se {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

/* TITULO */
.titulo_junte-se {
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    border-bottom: 4px solid var(--primary-color);
}
.titulo_junte-se span {
    font-size: 30px;
    font-weight: 800;
}
.titulo_junte-se .titulo-azul {
    color: var(--primary-color);
}

/* PRODUTOS */
.produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-bottom: 30px;
    gap: 40px;
}
.container-cards {
    display: flex;
    align-items: center;
}
.container-produtos {
    display: grid;
    gap: 50px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}
.card {
    display: grid;
    align-items: center;
    justify-content: flex-end;
    width: 450px;
    min-height: 420px;
    flex-direction: column;
    border: none;

    box-shadow: 10px 14px 10px 10px #adadad;
}
.card__img {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 355px;
    height: 355px;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.container-cards .card__img {
    display: grid;
    position: absolute;
}

.text_container h2,
p {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    z-index: 999;
    min-width: 350px;
    max-width: 450px;
    min-height: 80px;
    max-height: 100px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.918);
}

.text_container {
    height: auto;
    display: flex;
    align-self: flex-end;

    justify-content: flex-end;
    flex-direction: column;
}
.card__name {
    font-size: 30px;
    font-weight: 500;
}

.card__biography {
    visibility: hidden;
    font-size: 26px;
}
.container-cards .card__biography {
    display: flex;
    position: relative;
    justify-self: end;
}

/* Section doação */
.doacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    border: 8px solid black;
}

/* TITULO */
.header-doacao {
    width: 100%;
    justify-self: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_doacao {
    display: grid;
    height: fit-content;
    justify-content: flex-end;
    margin-top: 30px;
    font-size: 30px;
    width: 58%;
}

.titulo_doacao span {
    font-size: 30px;
    font-weight: 800;
    border-bottom: 4px solid var(--primary-color);
}
.titulo_doacao .titulo-azul {
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}

.seja-patrocinador {
    width: 40%;

    display: flex;
    justify-content: end;
    padding-right: 30px;
}
.seja-patrocinador button {
    width: 190px;
    height: 40px;
    font-weight: 400;
    white-space: nowrap;
}
button.button-patrocinador {
    font-size: 30px;
    font-weight: 200;
}

/* MODAL WINDOW */
.wraper a{
    text-decoration: none;
}
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
}

.modal a {
    text-decoration: none;
    color: inherit;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.content {
    border-radius: 12px;
    position: relative;
    height: fit-content;
    width: fit-content;
    background: #fff;
    padding: 1em 2em;
}

.footer {
    text-align: right;
    margin-top: 50px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

.footer-btn-close {
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-color: #cfcca8;
    color: #000000;
    border-radius: 3px;
}

/* FORMS */
.validation {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    font-weight: 900;
}

.actions {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #00c0ea;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
    color: #00c0ea;
}

.card-doacao {
    background-color: #f5f5f5;
    width: 500px;
    height: fit-content;
    align-self: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #00c0ea;
}

.title {
    text-align: start;
    font-size: 20px;
    width: fit-content;
    border-bottom: 3px solid #00c0ea;
}

.container-precos {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.card-35,
.card-50,
.card-100,
.card-outro,
.card-unica {
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 6px;
    font-weight: 500;
    border-radius: 10px;
    border: 1.9px solid black;
}

.card-35:hover,
.card-50:hover,
.card-100:hover,
.card-outro:hover,
.card-unica:hover {
    color: var(--primary-color);
    padding: 6px;
    font-weight: 500;
    border-style: dotted;
    border-radius: 10px;
    border: 1.9px solid var(--primary-color);
    border-style: dashed;
    background-color: transparent;
}

/*STYLE FORMS*/
.forms {
    display: grid;
    width: 100%;
    gap: 10px;
    justify-content: flex-start;
}

.row-1 {
    display: flex;
    width: 450px;
    gap: 15px;
}

.input-linha {
    width: 100%;
}

.nome,
.preco,
.medidas {
    width: 100%;
}

.inputs-medidas {
    display: flex;
    gap: 5px;
}

input {
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    background-color: var(--primary-color-light);
}

.btn {
    display: flex;
    justify-content: end;
}

button {
    width: 100px;
    height: 30px;
    border: 1px solid #00c0ea;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #00c0ea;
}

footer {
    display: none;
}

/* notebook  media query*/
/* .container_all_junte-se {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_junte-se {
    display: flex;
    height: fit-content;
    margin-top: 30px;
    font-size: 30px;
    border-bottom: 4px solid var(--primary-color);
}

.titulo_junte-se span {
    font-size: 30px;
    font-weight: 800;
}
.titulo_junte-se .titulo-azul {
    color: var(--primary-color);
}
.container_produtos {
    display: grid;
    width: fit-content;
    margin: 20px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    flex-wrap: wrap;
}
.container-cards {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 500px;
    height: 410px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 10px 14px 10px 10px #adadad;
}
.image-card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.container-cards .image-card {
    display: flex;
    position: absolute;
}
.container-cards .container-description {
    display: flex;
    position: relative;
    justify-self: end;
}

.image-card img {
    width: 90%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: unset;
    height: 30%;
    width: 60%;
    background-color: white;
    justify-content: flex-end;
}

.titulo-produto {
    font-size: 30px;
    font-weight: 500;
}
.descricao-produto {
    font-size: 26px;
}
.div-button {
    padding-top: 10px;
    width: 60%;
    align-items: center;
    justify-content: center;
}
.button-produtos {
    background-color: var(--primary-color);
    color: white;
    height: 45px;
    width: 180px;
    border: none;
    font-size: 20px;
    border-radius: 20px;
} */
