.container-all-projetos{ 
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.titulo-projeto{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: var(--primary-color);
    width: 600px;
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 20px;
}

.container-projetos{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    background-color: rgb(220, 235, 246);
    border-radius: 10px;
    margin-bottom: 100px;
}

.projetos-texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.projetos-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.img-projetos-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projetos_img{
    width: 100%;
}


.title-projetos{
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.texts-projetos{
    width: 80%;
    text-align: justify;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-size: 23px;
}

.text-destaque-projetos{
    font-size: 23px;
    font-weight: bold;
    color: var(--primary-color);
}

.img-onda{
    width: 100%;
}