.container-all-projetos{ 
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.titulo-projeto{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: var(--primary-color);
    width: 600px;
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 20px;
}

.container-projetos {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(220, 235, 246);
    border-radius: 10px;
    margin-bottom: 100px;
  }

.projetos-texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.projetos-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-projetos-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projetos_img{
    width: 100%;
    padding-right: 20px;
}

.title-projetos{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.texts-projetos{
    width: 90%;
    text-align: justify;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.text-destaque-projetos{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.img-onda{
    width: 100%;
}

#footer-projetos{
  background-color: var(--second-color);
}



@media screen and (max-width: 600px) {
    .titulo-projeto {
      font-size: 30px;
      width: 90%;
    }
  
    .container-projetos {
      margin-left: 5%;
      margin-right: 5%;
      flex-direction: column;

    }
  
    .projetos-texts {
      width: 100%;
    }

    .texts-projetos{
        width: 90%;
        text-align: center;
        gap: 10px;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
    }
  
    .projetos-img {
      width: 100%;
    }

    .projetos_img{
      width: 100%;
      padding-right: 0px;
  }
  
  
    .texts-projetos {
      width: 100%;
    }
  }