.onda{
    height: fit-content;
}

.div-img-onda{
    background-color: var(--second-color);
}

.img-onda-noticias-1{
    width: 100%;
    padding-bottom: 0;
}

.img-onda-noticias-2{
    transform: rotate(180deg);
    width: 100%;
    padding-top: 0;
}

.img-onda-footer{
    width: 100%;
    padding-bottom: 0;
}