.container-all{ 
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: aquamarine;
}

.container-sobre_nos{
    display: flex;
    background-color: chartreuse;
}

.container-img-principal{
    background-image: url(https://www.portal.ap.gov.br/img/albuns/entrega-caixas-dagua-27-11-22-2649/WhatsApp%20Image%202022-11-27%20at%2011.06.17%20(1).jpeg);
}

/* .sobre_nos-texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
} */

/* .sobre_nos-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-marco{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.marco-img{
    width: 100%;
} */


/* .title-sobre_nos{
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.texts-sobre_nos{
    width: 80%;
    text-align: justify;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-size: 23px;
}

.text-destaque-sobre_nos{
    font-size: 23px;
    font-weight: bold;
    color: var(--primary-color);
} */

.img-onda{
    width: 100%;
}