/* CONTAINER FLEX */

.container-all{ 
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 80px;
}

.container-sobre_nos{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
}

.linha{
    background-color: var(--primary-color);
    width: 3px;
    height: 200px;
}

.sobre_nos-texts{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sobre_nos-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-marco{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.marco-img{
    width: 90%;
}

.title-sobre_nos{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.texts-sobre_nos{
    width: 80%;
    text-align: justify;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.text-destaque-sobre_nos{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-color);
}

.img-onda{
    width: 100%;
}

.container-sobre_nos_invert{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
}

/* CONTAINER COLUMN */
.container-sobre_nos_column{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    justify-content: center;
    background-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.sobre_nos-texts_column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sobre_nos-img_column{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-marco_column{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.marco-img_column{
    width: 100%;
}

.title-sobre_nos_column{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.texts-sobre_nos_column{
    width: 90%;
    text-align: justify;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.text-destaque-sobre_nos_column{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-color);
}

.linha_column{
    background-color: var(--primary-color);
    width: 300px;
    height: 3px;
}

.linha_img{
    background-color: var(--primary-color);
    width: 3px;
    height: 500px;
}



@media (max-width: 768px) {
    .container-sobre_nos {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    
    .sobre_nos-texts {
      width: 100%;
    }

    .texts-sobre_nos{
        width: 100%;
    }
    
    .sobre_nos-img {
      width: 100%;
    }
    
    .img-marco {
      width: 80%;
    }

    .linha{
        background-color: var(--primary-color);
        width: 200px;
        height: 3px;
    }
}
  
@media (max-width: 768px) {
    .container-sobre_nos_column {
      flex-direction: column;
      align-items: center;
    }
    
    .sobre_nos-texts_column {
      width: 100%;
    }
    
    .sobre_nos-img_column {
      width: 100%;
    }
    
    .img-marco_column {
      width: 90%;
    }

    .linha_img{
        height: 50px;
    }

    .texts-sobre_nos{
        text-align: center;
    }
    .texts-sobre_nos_column{
        text-align: center;
    }

    .container-sobre_nos_invert{
        flex-direction: column-reverse;
        gap: 10px;
    }
}
  