:root {
  --primary-color: #00C0EA;
  --primary-color-light: #95E0F0;
  --second-color: #EFEFEF;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: grid;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

section {
  height: 80vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: var(--primary-color);
  font-weight: 600;
  user-select: none;
  height: 90px;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #95E0F0; /* cor de fundo da tela de carregamento */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-image {
  width: 50px; /* ajuste o tamanho da imagem conforme necessário */
  animation: jump 2.5s infinite;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}