/* section .ultimas-noticias {
  max-height: 90vh;
} */

.ultimas-noticias {
  display: flex;
  padding: 25px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: var(--second-color);
  /* background: linear-gradient(to left top, #031A9A, #8B53FF);  */
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color: crimson;
}

.container_noticias {
  gap: 40px;
}
